:root {
    --primary-color: #fff;
    --secundary-color: hsla(0, 0%, 100%, 0.75);
    --secundary-stats: hsla(0, 0%, 100%, 0.6);
    --primary-font: "Inter";
    --secundary-font: "Lexend Deca";
  }
  *,
  *:after,
  *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100%;
    list-style-type: none;
    background-color: hsl(233, 47%, 7%);
  }
  .block {
    width: 1450px;
    height: 600px;
    border-radius: 10px;
    position: relative;
    background-color: hsl(244, 38%, 16%);
  }
  .block img {
    width: 51%;
    height: 600px;
    right: 0;
    position: absolute;
    border-radius: 0px 10px 10px 0px;
  }
  .purple-image {
    position: absolute;
    width: 740px;
    height: 100%;
    right: 0;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(170, 92, 219);
    mix-blend-mode: multiply;
    filter: brightness(120%);
    z-index: 1;
  }
  .text {
    width: 660px;
    padding: 80px;
  }
  .text h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 32px;
  }
  .text h1 span {
    color: hsl(277, 64%, 61%);
  }
  #main-heading {
    font-size: 45px;
  }
  #main-paragraph {
    color: var(--secundary-color);
    font-family: var(--primary-font);
    margin-top: 30px;
    font-size: 20px;
    line-height: 32px;
  }
  .text p {
    font-size: 17px;
    color: var(--secundary-stats);
    font-family: var(--secundary-font);
  }
  .stats {
    display: flex;
    position: relative;
    gap: 130px;
    margin-top: 100px;
  }
  .stats2 {
    display: flex;
    margin-top: 5px;
    position: absolute;
    gap: 100px;
  }